@import url("pygment_highlights.css");

:root {
  /* config file CSS variables */
  --page-col: #1a202c;
  --text-col: #FFFFFF;
  --link-col: #ffb342;
  --hover-col: #ffd160;
  --navbar-col: #0d1117;
  --navbar-text-col: #718096;
  --navbar-border-col: #1a202c;
  --footer-col: #0d1117;
  --footer-text-col: #718096;
  --footer-link-col: #765bff;
  --footer-hover-col: #0085A1;

  /* common CSS variables */
  --body-font: 'Lora', 'Times New Roman', serif;
  --header-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --mid-col: #808080;
}

/* --- General --- */
html { font-size: 100% }
body {
  font-family: var(--body-font);
  font-size: 1.125rem;
  color: var(--text-col);
  position: relative;
  background-color: var(--page-col);
  overflow-wrap: break-word;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > main { flex: 1; }
p { line-height: 1.5; margin: 1.875rem 0; }
h1,h2,h3,h4,h5,h6 {
  font-family: var(--header-font);
  font-weight: 800;
  line-height: 1.1;
}
h1 { font-size: 2.25rem; }
a { color: var(--link-col); }
a:hover, a:focus { color: var(--hover-col); }
hr.small {
  max-width: 6.25rem;
  margin: 1rem auto;
  border-width: 0.25rem;
  border-color: inherit;
  border-radius: 0.1875rem;
}

/* --- Navbar --- */
.navbar-custom {
  background-color: var(--navbar-col);
  border-bottom: 1px solid var(--navbar-border-col);
  font-family: var(--header-font);
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
  color: var(--navbar-text-col);
}
.navbar-custom .navbar-nav .nav-link {
  font-weight: 800;
  color: var(--navbar-text-col);
  text-transform: uppercase;
  font-size: 0.8125rem;
}

/* 🛑 아바타 회전 절대
